.App {
  text-align: center;
  background-color: #fffdd0;
  min-height: 100vh;
}

input {
  width: 40%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 8px;
  border: 1px solid;
}

textarea {
  width: 40%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  height: 100px;
  border-radius: 8px;
  border: 1px solid;
}

a,
button {
  font-family: bangers;
  line-height: 1.5;
  font-size: 2rem;
  padding: 0 1rem;
  border: none;
  background-color: black;
  color: #fffdd0;
  border-radius: 5px;
  text-decoration: none;
}

@media (max-width: 576px) {
  input {
    width: 60%;
  }

  textarea {
    width: 60%;
  }
}
